* {
    box-sizing: border-box;
}

body {
    background-color: #AC8E60;
    color: rgb(235, 235, 235);
    transition: all 2s;
    font-family: andale mono, monospace;
}

body.switch {
    background-color: #2B2C5A;
    color: #ecef25;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
    text-align: center;
}

#banner{
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    border: 3px rgb(235, 235, 235) solid;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    background-color: #333;
    color: rgb(235, 235, 235);
    border: 3px rgb(0, 0, 0) solid;
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border: 1px rgb(235, 235, 235) double;
    border-width: 5px;
    margin: 0 .25em;
    text-align: center;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}


section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #f7a40c;
}

section a:hover {
    background-color: #f7a40c;
    color: #333;
    border-radius: 80px;
    box-shadow: 4px 4px 15px #ffffff;
}

section.switch a {
    color: #ffffff;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
    box-shadow: 4px 4px 15px #ffffff;
}

button {
    background-color: #f7a40c;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 80px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border: 0;
    font-size: 16px;
    font-family: 'Dekko';
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    transition: all 200ms;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgb(255, 255, 255);
}

button.switch {
    background-color: rgb(0, 0, 0);
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}