body {
  margin-top: 150px;
  display: grid;
  place-items: center;
  background-color: #117d98;
}

.right {
  position: absolute;
  right: 50px;
  width: 400px;
  border: 3px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 26px;
  font-family: andale mono, monospace;
  color: white;
}

.left {
  position: absolute;
  left: 50px;
  width: 400px;
  border: 3px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 26px;
  font-family: andale mono, monospace;
  color: white;
}
